Q11 - Spring Quarter/Kubernetes Lambda/standup/standupPlan.json
{
    "StartAt": "CreateEKSCluster",
    "States": {
      "CreateEKSCluster": {
        "Type": "Task",
        "Resource": "arn:aws:lambda:us-west-2:123456789012:function:CreateEKSCluster",
        "Next": "WaitForCluster"
      },
      "WaitForCluster": {
        "Type": "Wait",
        "Seconds": 30,
        "Next": "CheckClusterStatus"
      },
      "CheckClusterStatus": {
        "Type": "Task",
        "Resource": "arn:aws:lambda:us-west-2:123456789012:function:CheckClusterStatus",
        "Next": "IsClusterActive"
      },
      "IsClusterActive": {
        "Type": "Choice",
        "Choices": [
          {
            "Variable": "$.clusterStatus",
            "StringEquals": "ACTIVE",
            "Next": "GetKubeconfig"
          },
          {
            "Variable": "$.clusterStatus",
            "StringEquals": "FAILED",
            "Next": "ClusterFailed"
          }
        ],
        "Default": "WaitForCluster"
      },
      "ClusterFailed": {
        "Type": "Fail",
        "Error": "ClusterCreationFailed",
        "Cause": "The EKS cluster creation failed."
      },
      "GetKubeconfig": {
        "Type": "Task",
        "Resource": "arn:aws:lambda:us-west-2:123456789012:function:GetKubeconfig",
        "Next": "InstallEFSCsiDriver"
      },
      "InstallEFSCsiDriver": {
        "Type": "Task",
        "Resource": "arn:aws:lambda:us-west-2:123456789012:function:InstallEFSCsiDriver"
      },


      "CreateKubernetesTestJobs": {
        "Type": "Task",
        "Resource": "arn:aws:lambda:us-west-2: FILL ME IN",
        "End": true
      }
    }
  }
  